<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>BetClub</title>
    <meta data-n-head="true" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>favicon.ico" />
    <link rel="stylesheet" href="<%= context.publicPath %>css/ionicons.min.css">
    <link rel="stylesheet" href="<%= context.publicPath %>css/font-awesome.css">
    <link rel="stylesheet" href="<%= context.publicPath %>css/reset.css">
    <script src="<%= context.publicPath %>charting_library/charting_library.min.js"></script>
    <script src="<%= context.publicPath %>js/rem.js"></script>
    <script src="<%= context.publicPath %>js/clipboard.min.js"></script>
</head>

<body>
    <div id="root"></div>
</body>
<script>new ClipboardJS('.ant-btn-primary');</script>
</html>
